<suite name="Spring Boot Test" parallel="tests" thread-count="2">
    <test name="Google">
        <classes>
            <class name="com.springbootselenium.springbootseleniumproject.googleTests.GoogleTest"/>
        </classes>
    </test>
    <test name="Google2">
        <classes>
            <class name="com.springbootselenium.springbootseleniumproject.googleTests.GoogleTest2"/>
        </classes>
    </test>
    <test name="Google3">
        <classes>
            <class name="com.springbootselenium.springbootseleniumproject.googleTests.GoogleTest"/>
        </classes>
    </test>
    <test name="Google4">
        <classes>
            <class name="com.springbootselenium.springbootseleniumproject.googleTests.GoogleTest2"/>
        </classes>
    </test>
</suite>